* text=auto eol=lf
binaries/arm64_libtdjson.dylib filter=lfs diff=lfs merge=lfs -text
binaries/x64_libtdjson.dll filter=lfs diff=lfs merge=lfs -text
binaries/x64_libtdjson.dylib filter=lfs diff=lfs merge=lfs -text
binaries/x64_libtdjson.so filter=lfs diff=lfs merge=lfs -text
